<div class="bg-white/75 p-4 rounded-lg h-96 flex flex-col items-center justify-around">
  <h1 class="text-2xl font-semibold">Bienvenue sur Junk Jonction</h1>
  <div>
    <p>Ici vous pouvez déclarer les sites de pollutions à ciel ouvert que vous découvrez</p>
    <p>Merci de collaborer pour aider la planète à aller mieux !</p>
  </div>
  <a
    class="inline-flex items-center gap-2 px-3 py-2 rounded-full font-medium bg-green-600 hover:bg-green-500 text-white no-underline"
    routerLink="pollution"
  >
    <span class="flex gap-2 items-center justify-center">
      <p>Déclarer une pollution</p>
      <lucide-angular [img]="MoveRight" class="w-5 h-5"></lucide-angular>
    </span>
  </a>
</div>
