@import 'tailwindcss';

@theme {
  --animate-slide-in: slide-in 0.3s linear;
  @keyframes slide-in {
    0% {
      transform: translateY(-5%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

html,
body,
app-root {
  height: 100%;
  margin: 0;
}
